<!-- product.component.html -->
<div class="row">
    <div class="col-lg-3 col-md-6" *ngFor="let product of products">
      <div class="card">
        <img class="card-img-top img-responsive" src="assets/images/bg/bg{{product.id}}.jpg" alt="Product Image" />
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ${{ product.price }}</p>
          <p class="card-text">Stock Quantity: {{ product.stockQuantity }}</p>
          <p class="card-text">Fournisseur: {{ product.fournisseur.username }}</p>
          
          <!-- Quantity control buttons -->
          <div class="quantity-control">
            <button (click)="decreaseQuantity(product)" class="btn btn-secondary">-</button>
            <span class="quantity">{{ product.selectedQuantity }}</span>
            <button (click)="increaseQuantity(product)" class="btn btn-secondary">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
